# Server Configuration
PORT=
HOST=
NODE_ENV=

# Webhook Configuration
WEBHOOK_URL=
WEBHOOK_SECRET=

# Telegram Bot Credentials
TELEGRAM_TOKEN=
BOT_USERNAME=
SUPPORT_USERNAME=

# Admin Rules
ADMIN_ID=

# Channel & Group Force Join Configuration
FORCE_JOIN_CHANNEL=
FORCE_JOIN_GROUP=

# SMS Gateway Configuration (TemporaSMS API)
SMS_API_TOKEN=

# Database Connection (PostgreSQL & Prisma)
DATABASE_URL=

# Application Settings
TIMEZONE=

# Referral Reward
REFERRAL_REWARD=
